<section class="myweb bg-white">

    <div class="theHead">
        <div class="row">
            <div class="col-md-12">
                @*<span class="tHead">Who's Hiring <i class="caret hidden"></i></span>*@
                <h2>Top Jobs By Category</h2>
            </div>
        </div>
    </div>
    

    <div class="topjobs">
        <ul id="JobsLists">
            <li>
                <i class="fa fa-star"></i>&nbsp;<a href="JobsDetail/pakistan-engineering-council-pec-jobs-2020-for-site-engineers-junior-executive-project-director-quantity-surveyor-accounts-associate-officers-others-latest-91800.html">
                    <strong>
                        PEC
                        Islamabad Jobs
                    </strong>
                </a> (Multiple Posts)
            </li>

            <li>
                <i class="fa fa-star"></i>&nbsp;<a href="JobsDetail/election-commission-of-pakistan-jobs-may-2020-for-59-election-officers-bps-17-latest-91868.html">
                    <strong>
                        ECP
                        Jobs
                    </strong>
                </a> (Multiple Posts)
            </li>

            <li>
                <i class="fa fa-star"></i>&nbsp;<a href="Jobs/Category/fpsc.html">
                    <strong>
                        FPSC
                        Jobs
                    </strong>
                </a> (Multiple Posts)
            </li>

            <li>
                <i class="fa fa-star"></i>&nbsp;<a href="Jobs/Category/ztbl.html">
                    <strong>
                        ZTBL
                        Jobs
                    </strong>
                </a> (Multiple Posts)
            </li>

            <li>
                <i class="fa fa-star"></i>&nbsp;<a href="JobsDetail/punjab-tourism-department-jobs-2020-for-field-supervisors-office-assistants-others-latest-91910.html">
                    <strong>
                        Tourism
                        Department Jobs
                    </strong>
                </a> (Multiple Posts)
            </li>

            <li>
                <i class="fa fa-star"></i>&nbsp;<a href="Jobs/Category/wapda.html">
                    <strong>
                        WAPDA
                        Jobs
                    </strong>
                </a> (Multiple Posts)
            </li>

            <li>
                <i class="fa fa-star"></i>&nbsp;<a href="Jobs/Category/ksew.html">
                    <strong>
                        KSEW
                        Jobs
                    </strong>
                </a> (Multiple Posts)
            </li>

            <li>
                <i class="fa fa-star"></i>&nbsp;<a href="Jobs/Category/join-pak-army.html" rel="noopener"><strong>Army Jobs</strong></a> (Multiple Posts)
            </li>

            <li>
                <i class="fa fa-star"></i>&nbsp;<a href="Jobs/Category/ministry.html" rel="noopener"><strong>Ministry Jobs</strong></a>&nbsp;(Multiple Posts)
            </li>

            <li>
                <i class="fa fa-star"></i>&nbsp;<a href="Jobs/Category/public-sector-organizations.html" rel="noopener"><strong>Public Sector Jobs</strong></a>&nbsp;(Multiple Posts)
            </li>

            <li>
                <i class="fa fa-star"></i>&nbsp;<a href="Jobs/Category/nts.html">
                    <strong>
                        NTS
                        Jobs
                    </strong>
                </a> (Multiple Posts)
            </li>

            <li>
                <i class="fa fa-star"></i>&nbsp;<a href="Jobs/Category/hec.html">
                    <strong>
                        HEC
                        Jobs
                    </strong>
                </a> (Multiple Posts)
            </li>

            <li>
                <i class="fa fa-star"></i>&nbsp;<a href="JobsDetail/federal-government-employees-housing-authority-jobs-2020-for-assistant-directors-assistant-private-secretaries-building-inspectors-sub-engineers-stenotypists-surveyors-assistant-managers-pa">
                    <strong>
                        FGEHA
                        Jobs
                    </strong>
                </a> (Multiple Posts)
            </li>

            <li>
                <i class="fa fa-star"></i>&nbsp;<a href="Jobs/Category/sbp.html">
                    <strong>
                        State Bank
                        Jobs
                    </strong>
                </a> (Multiple Posts)
            </li>

            <li>
                <i class="fa fa-star"></i>&nbsp;<a href="JobsDetail/punjab-health-facilities-management-company-jobs-2020-for-1324-medical-officers-charge-nurses-lhvs-others-latest-91807.html">
                    <strong>
                        PHFMC
                        Jobs
                    </strong>
                </a> (Multiple Posts)
            </li>

            <li>
                <i class="fa fa-star"></i>&nbsp;<a href="JobsDetail/national-information-technology-board-nitb-jobs-2020-for-general-managers-directors-project-coordinator-latest-91757.html">
                    <strong>
                        NITB
                        Jobs
                    </strong>
                </a> (Multiple Posts)
            </li>

            <li>
                <i class="fa fa-star"></i>&nbsp;<a href="Jobs/Category/caa.html">
                    <strong>
                        CAA
                        Jobs
                    </strong>
                </a> (Multiple Posts)
            </li>

            <li>
                <i class="fa fa-star"></i>&nbsp;<a href="JobsDetail/university-of-agriculture-faisalabad-uaf-jobs-april-2020-for-teaching-non-teaching-staff-latest-91748.html">
                    <strong>
                        UAF
                        Jobs
                    </strong>
                </a> (Multiple Posts)
            </li>

            <li>
                <i class="fa fa-star"></i>&nbsp;<a href="Jobs/Category/bpsc.html">
                    <strong>
                        BPSC
                        Jobs
                    </strong>
                </a> (Multiple Posts)
            </li>

            <li>
                <i class="fa fa-star"></i>&nbsp;<a href="Jobs/Category/ngo.html">
                    <strong>
                        NGO
                        Jobs
                    </strong>
                </a> (Multiple Posts)
            </li>

            <li>
                <i class="fa fa-star"></i>&nbsp;<a href="Jobs/Category/kppsc.html">
                    <strong>
                        KPPSC
                        Jobs
                    </strong>
                </a> (Multiple Posts)
            </li>

            <li>
                <i class="fa fa-star"></i>&nbsp;<a href="Jobs/Category/spsc.html">
                    <strong>
                        SPSC
                        Jobs
                    </strong>
                </a> (Multiple Posts)
            </li>

            <li>
                <i class="fa fa-star"></i>&nbsp;<a href="JobsDetail/military-lands-cantonments-department-jobs-2020-for-64-stenotypists-sdo-sd-man-ldc-udc-clerks-latest-91420.html">
                    <strong>
                        Defence
                        Ministry Jobs
                    </strong>
                </a> (Multiple Posts)
            </li>

            <li>
                <i class="fa fa-star"></i>&nbsp;<a href="JobsDetail/lahore-waste-management-company-lwmc-jobs-2020-for-2421sanitary-workers-sanitary-supervisors-drivers-computer-operators-it-supervisors-office-assistants-station-officers-others-latest-91777">
                    <strong>
                        LWMC
                        Jobs
                    </strong>
                </a> (Multiple Posts)
            </li>

        </ul>
    </div>

</section>
<style>
    .myweb {
        margin-top: 25px;
        margin-bottom: 25px;
    
    }
    h2{
            color: #cb202d;
    }
    .topjobs li {
        display: inline-block;
        width: 350px;
        font-size: 1em;
        line-height: 2em;
    }

    li {
        margin: 0 0 0.5em 0;
        padding: 0;
    }

	 .theHead {
		/*border-bottom: 1px solid #e0e0e0;*/
        border-bottom: 1px solid #cb202d;
		color: #424242;
		margin-bottom: 20px;
		padding: 5px 10px;
        
	
	}
</style>





