
    <p>
        <a href="index.html">Home</a>
        &nbsp;&nbsp; | &nbsp;&nbsp;<a href="Aboutus.html">About Us</a>
        &nbsp;&nbsp; | &nbsp;&nbsp;<a href="Disclaimer.html">Disclaimer</a>
        &nbsp;&nbsp; | &nbsp;&nbsp;<a href="Privacy.html">Privacy</a>
        &nbsp;&nbsp; | &nbsp;&nbsp;<a href="Contactus.html">Contact Us</a>
        @*<span class="pull-right">
            Design and Developed By <a href="index.html">VULearning Team</a>
        </span>*@
    </p>
