@*<ul class="list-group ">
        <li class="list-group-item list-group-item-heading" style="background-color: #cb202d; color: white"> <strong> Jobs by Location </strong></li>
        <li class="list-group-item"><a asp-action="manage" asp-controller="cities">Punjab</a> </li>
        <li class="list-group-item"><a asp-action="manage" asp-controller="neighbourhood">Sindh</a> </li>
        <li class="list-group-item"><a asp-action="manage" asp-controller="cities">Balochistan</a> </li>
        <li class="list-group-item"><a asp-action="manage" asp-controller="neighbourhood">KPK</a> </li>
        <li class="list-group-item">Property Agents</li>
    </ul>*@
    @*<div class="table">
        <div class="table_tittle">Get Daily Jobs E-mail Alerts</div>
        <div>
            <form style="border:1px solid #ccc;padding:3px;text-align:center;" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=DawnJobs', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
                <p>Get Jobs Notifications in Email:</p>
                <p><input type="text"   name="email" placeholder="Enter Your Email" /></p>

                <input type="hidden"  value="DawnJobs" name="uri" />
                <input type="hidden" name="loc" value="en_US" />
                <input type="submit" class="btn btn-success" value="Subscribe" />
                <p>Delivered by <a href="https://feedburner.google.com" target="_blank">FeedBurner</a></p>
            </form>
        </div>
    </div>*@
   
    <div class="table">
        <div class="table_tittle">Follow Us on Social Media</div>
        <div class="table_contents">
            <div class="text-center">
                <span style="font-size: 48px; color: Dodgerblue;">
                    <a href="https://web.facebook.com/dawnjobz/?modal=admin_todo_tour" target="_blank" title="Follow Us on Facebook">   <i class="fab fa-facebook-square"></i></a>
                </span>
                <span style="font-size: 48px; color: Dodgerblue;">
                    <a href="https://web.facebook.com/dawnjobz/?modal=admin_todo_tour" target="_blank" title="Follow Us on Linkedin">  <i class="fab fa-linkedin"></i></a>
                </span>
                <span style="font-size: 48px; color: Dodgerblue;">
                    <a href="https://web.facebook.com/dawnjobz/?modal=admin_todo_tour" target="_blank" title="Follow Us on Twitter"> <i class="fab fa-twitter-square"></i></a>
                </span>
            </div>
        </div>
    </div>
<div class="table">
    <div class="table_tittle">JOBS BY LOCATION</div>
    <div class="table_contents">
        <div class="table_cell"> <a href="government-jobs/index.html"><strong>Latest Govt Jobs</strong></a></div>
        <div class="table_cell"><a href="government-jobs-in-islamabad.html"><strong>Federal Government</strong></a></div>
        <div class="table_cell"><a href="government-jobs-in-punjab.html"><strong>Punjab Government</strong></a></div>
        <div class="table_cell"><a href="government-jobs-in-sindh.html"><strong>Sindh Government</strong></a></div>
        <div class="table_cell"><a href="government-jobs-in-balochistan.html"><strong>Balochistan Government</strong></a></div>
        <div class="table_cell"><a href="government-jobs-in-khyber-pakhtunkhwa-kpk.html"><strong>KPK Government</strong></a></div>
        <div class="table_cell"><a href="government-jobs-in-ajk.html"><strong>AJK Government</strong></a></div>
    </div>
</div>
<div class="table">
    <div class="table_tittle">JOBS BY CITY</div>
    <div class="table_contents">
        <div class="table_cell"><a href="jobs_in_karachi/index.html"><strong>Karachi Jobs</strong></a></div>
        <div class="table_cell"><a href="jobs_in_lahore/index.html"><strong>Lahore Jobs</strong></a></div>
        <div class="table_cell"><a href="jobs_in_islamabad/index.html"><strong>Islamabad Jobs</strong></a></div>
        <div class="table_cell"><a href="jobs_in_rawalpindi/index.html"><strong>Rawalpindi Jobs</strong></a></div>
        <div class="table_cell"><a href="jobs_in_peshawar/index.html"><strong>Peshawar Jobs</strong></a></div>
        <div class="table_cell"><a href="jobs_in_quetta/index.html"><strong>Quetta Jobs</strong></a></div>
        <div class="table_cell"><a href="jobs_in_faisalabad/index.html"><strong>Faisalabad</strong></a></div>
        <div class="table_cell"><a href="jobs_in_multan/index.html"><strong>Multan</strong></a></div>
        <div class="table_cell"><a href="jobs_in_okara/index.html"><strong>Okara</strong></a></div>
        <div class="table_cell"><a href="jobs_in_sahiwal/index.html"><strong>Sahiwal</strong></a></div>
        <div class="table_cell"><a href="jobs_in_gujranwala/index.html"><strong>Gujranwala</strong></a></div>
        <div class="table_cell"><a href="jobs_in_hyderabad/index.html"><strong>Hyderabad</strong></a></div>
        <div class="table_cell"><a href="localjobs/index.html" target="_blank"><strong>Jobs in Other Cities</strong></a></div>
    </div>
</div>
<div class="table">
    <div class="table_tittle">JOBS BY NEWSPAPER</div>
    <div class="table_contents">
        <div class="table_cell"><a href="jang_jobs/index.html" target="_blank"><strong>Jang</strong></a></div>
        <div class="table_cell"><a href="express_jobs/index.html" target="_blank"><strong>Express</strong></a></div>
        <div class="table_cell"><a href="the_news_jobs/index.html" target="_blank"><strong>The News</strong></a></div>
        <div class="table_cell"><a href="dawn_jobs/index.html" target="_blank"><strong>Dawn</strong></a></div>
        <div class="table_cell"><a href="nawaiwaqt_jobs/index.html" target="_blank"><strong>Nawaiwaqt</strong></a></div>
        <div class="table_cell"><a href="nation_jobs/index.html" target="_blank"><strong>Nation</strong></a></div>
        <div class="table_cell"><a href="daily_pakistan_jobs/index.html" target="_blank"><strong>Daily Pakistan</strong></a></div>
        <div class="table_cell"><a href="khabrain_jobs/index.html" target="_blank"><strong>Khabrain</strong></a></div>
        <div class="table_cell"><a href="dunya_jobs/index.html" target="_blank"><strong>Dunya</strong></a></div>
        @*<div class="table_cell"><a href="mashriq_jobs/index.html" target="_blank">Mashriq</a></div>
        <div class="table_cell"><a href="kawish_jobs/index.html" target="_blank">Kawish</a></div>
        <div class="table_cell"><a href="aaj_jobs/index.html" target="_blank"><strong>Aaj</strong></a></div>
        <div class="table_cell"><a href="mahasib_jobs/index.html" target="_blank">Mahasib</a></div>
        <div class="table_cell"><a href="jinnah_jobs/index.html" target="_blank">Jinnah Jobs</a></div>
        <div class="table_cell"><a href="ausaf_jobs/index.html" target="_blank">Ausaf Jobs</a></div>
        <div class="table_cell"><a href="ummat_jobs/index.html" target="_blank">Ummat Jobs</a></div>*@
        <div class="table_cell"><a href="other_jobs/index.html" target="_blank"><strong>Not in Newspapers</strong></a></div>
    </div>
</div>



<div class="table">
    <div class="table_tittle">Service Commission / Testing Organization Jobs</div>
    <div class="table_contents">
        <div class="table_cell"> <a href="government-jobs/index.html"><strong>FPSC</strong></a></div>
        <div class="table_cell"><a href="government-jobs-in-islamabad.html"><strong>PPSC</strong></a></div>
        <div class="table_cell"><a href="government-jobs-in-punjab.html"><strong>SPSC</strong></a></div>
        <div class="table_cell"><a href="government-jobs-in-sindh.html"><strong>KPPSC</strong></a></div>
        <div class="table_cell"><a href="government-jobs-in-balochistan.html"><strong>BPSC</strong></a></div>
        <div class="table_cell"><a href="government-jobs-in-khyber-pakhtunkhwa-kpk.html"><strong>AJKPSC</strong></a></div>
        <div class="table_cell"><a href="government-jobs-in-ajk.html"><strong>NTS</strong></a></div>
        <div class="table_cell"><a href="government-jobs-in-ajk.html"><strong>OTS</strong></a></div>
        <div class="table_cell"><a href="government-jobs-in-ajk.html"><strong>NTS</strong></a></div>
        <div class="table_cell"><a href="government-jobs-in-ajk.html"><strong>CTS</strong></a></div>
        <div class="table_cell"><a href="government-jobs-in-ajk.html"><strong>PTS</strong></a></div>
    </div>
</div>

<div class="table">
    <div class="table_tittle">Pakistan Armed / Security Forces Jobs</div>
    <div class="table_contents">
        <div class="table_cell"> <a href="government-jobs/index.html"><strong>Join Pak Army</strong></a></div>
        <div class="table_cell"><a href="government-jobs-in-punjab.html"><strong>Join Pak Navy</strong></a></div>
        <div class="table_cell"><a href="government-jobs-in-islamabad.html"><strong>Join Pak Air Force( PAF)</strong></a></div>
        <div class="table_cell"><a href="government-jobs-in-sindh.html"><strong>Airport Security Force (ASF)</strong></a></div>
        <div class="table_cell"><a href="government-jobs-in-balochistan.html"><strong>Rangers</strong></a></div>
        <div class="table_cell"><a href="government-jobs-in-khyber-pakhtunkhwa-kpk.html"><strong>Police</strong></a></div>
        <div class="table_cell"><a href="government-jobs-in-ajk.html"><strong>Punjab Police</strong></a></div>
        <div class="table_cell"><a href="government-jobs-in-ajk.html"><strong>Sindh Police</strong></a></div>
        <div class="table_cell"><a href="government-jobs-in-ajk.html"><strong>ICT Police</strong></a></div>

    </div>
</div>


<style>
    .table {
        margin: 10px 0;
    }

    .table_tittle {
       // background-color: #395d7b;
       background-color: #cb202d;
        border-bottom: 1px solid #ccc;
        color: #fff;
        font-size: 18px;
        padding: 5px 0;
        text-indent: 5px;
    }

    .social_marks,
    .table_tittle {
        text-align: center;
    }

    .table_contents {
        background-color: #fff;
        //float: left;
        margin-bottom: 10px;
        padding: 0 3%;
        //width: 98%;
    }
</style>